<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JHShowHistoryView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9F8AB931D28AD3400A0D26A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F8ABAC1D28AD3400A0D26A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F8ABB71D28AD3400A0D26A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
